<span class="btn btn-small popoverToggle" rel="popover" data-toggle="popover"><i class="icon-cog"></i></span>
	<div class="popoverContent">
		<form class="form-horizontal">
		<div class="control-group aggregationControls">
			<label class="control-label" for="aggregationSelect">Aggregation:</label>
			<div class="controls">
				<div class="btn-group">
					<button class="btn dropdown-toggle aggrSelectToggle" data-toggle="dropdown">
						None
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li><a class="aggrSelect" value="none">None</a></li>
						<li><a class="aggrSelect" value="count">Count</a></li>
						<li><a class="aggrSelect" value="average">Average</a></li>
						<li><a class="aggrSelect" value="sum">Sum</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="control-group typeControls">
			<label class="control-label" for="chartTypeSelect">Type:</label>
			<div class="controls">
				<div class="btn-group">
					<button class="btn dropdown-toggle typeSelectToggle" data-toggle="dropdown">
						Line
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li class="nav-header">Lines</li>
						<li><a class="typeSelect" value="line">Line</a></li>
						<li><a class="typeSelect" value="spline">Spline</a></li>
						<li class="nav-header">Bars</li>
						<li><a class="typeSelect" value="bar">Bar</a></li>
						<li><a class="typeSelect" value="column">Column</a></li>
						<li class="nav-header">Areas</li>
						<li><a class="typeSelect" value="area">Area</a></li>
						<li><a class="typeSelect" value="areaspline">Areaspline</a></li>
						<li class="nav-header">Others</li>
						<li><a class="typeSelect" value="scatter">Scatter</a></li>
						<li><a class="typeSelect" value="pie">Pie</a></li>
					</ul>
				</div>
			</div>
		</div>
		<% if column[:type] < 2 %>
			<div class="control-group rangeControls">
				<label class="control-label" for="valueRangeSlider">Value range:</label>
				<div class="controls rangeSliderControls">
					<div style="float: left;"><p class="minValue"><%= column[:min] %><p/></div>
					<div class="valueRangeSlider" style="float: left;" data-min-value="<%= column[:min] %>" data-max-value="<%= column[:max] %>" data-lower-value="<%= column[:min] %>" data-higher-value="<%= column[:max] %>"></div>
					<div style="float: left;"><p class="maxValue"><%= column[:max] %></p></div>
				</div>
			</div>
		<% end %>
	</form>
</div>